{% comment %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Djangoスニペット</title>
  </head>

  <body>
    <h1>ようこそ</h1>
    <h2>index</h2>
    {% if snippets %}
    <table class="tbl">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>投稿日</th>
          <th>タイトル</th>
        </tr>
      </thead>
      <tbody>
        {% for snippet in snippets %}
        <tr>
          <th>{{ snippet.created_by.username }}</th>
          <th>{{ snippet.created_at }}</th>
          <th>
            <a href="{% url 'snippet_detail' snippet.id}"
              >{{ snippet.title }}</a
            >
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>まだ投稿がありません。</p>
    {% endif %}
  </body>
</html>
{% endcomment %}
<!-- prettier-ignore -->
{% extends "base.html" %} {% block main %}
<div class="welcome">
  <h1 class="title">ようこそ django snippetへ</h1>
  <a class="btn btn-primary" href="{% url 'snippet_new' %}">登録する</a>
</div>

{% if snippets %}
<table class="table">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>投稿日</th>
      <th>タイトル</th>
    </tr>
  </thead>

  <tbody>
    {% for snippet in snippets%}
    <tr>
      <th>{{ snippet.created_by.username }}</th>
      <th>{{ snippet.created_at }}</th>
      <th>
        <a href="{% url 'snippet_detail' snippet.id %}">{{ snippet.title }}</a>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>まだ投稿がありません。</p>
{% endif %} {% endblock %}
